.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.washer-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.collapsed {
  width: 50px; /* Ancho cuando está plegado */
}

.collapsed .fs-4 {
  display: none; /* Oculta el título cuando está plegado */
}

.custom-background {
  background-color: #0750D8 !important; /* Usa !important para asegurarte de que sobrescribe otros estilos */
  /* min-width: 300px; */
}
