.App {
  text-align: center;
}

/* Se especifíca el color del header  */
nav {
  background-color: rgb(25, 5, 255);
}

.articleinfo{
  background-color: rgb(25, 5, 255);
}

.colorbuttontoggle{
  background-color: rgb(25, 5, 255);
}


